body {
    background-color: red;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 1rem;
}

.title {
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
}

.startButton {
    margin: 2rem;
    font-size: 3rem;
    display: inline;
    background-color: blue;
    padding: 2rem;
    border: 3px solid gray ;
}

.scoreBoard {
    text-align: center;
}

.doors {
    text-align: center;
}

.doors img {
    display: inline;
    margin: auto;
    height: 20rem;
    padding: 2rem;
}

.gameOver {
    display: none;
}

.gameButtons {
    font-size: 3rem;
    background-color: blue;
    padding: 2rem; 
    border: 3px solid gray;
}