body {
    background-color: red;
}

.center {
   margin: auto;
}

.title {
    margin:auto; 
    text-align: center;
    font-size: 2rem;
}

.startButton {
    margin: 2rem;
    font-size: 3rem;
    display: inline;
    background-color: blue;
    padding: 2rem;
    border: 3px solid gray ;
}

.scoreBoard {
    text-align: center;
}

.doors {
    text-align: center;
}

.doors img {
    display: inline;
    margin: auto;
    height: 20rem;
    padding: 2rem;
}

.gameOver {
    display: none;
}

.gameButtons {
    display: block;
    font-size: 3rem;
    background-color: blue;
    padding: 2rem; 
    border: 3px solid gray;
}

.footer {
    position:absolute;
    bottom: 2rem;
}

@media screen and (max-width: 900px) {
    .title {
        margin-top: 2rem;
        font-size: 1rem;
    }


    
}